<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza Form</title>

    <script type="text/javascript">
        window.onload = function() {
            document.getElementById("pizzaForm").reset();

            if (window.location.href.indexOf("error") !== -1) {
                history.replaceState({}, document.title, "/");
            }
        }
    </script>
</head>
<body>
    <h1>Pizza Form</h1>

    <form id="pizzaForm" action="/submit" method="GET">
        <label for="number"># of pizzas:</label>
        <select name="number", id="number">
            <option value="" selected disabled>0</option>
            <option value="1">1</option> 
            <option value="2">2</option> 
            <option value="3">3</option> 
            <option value="4">4+</option> 
        </select>
        <br>
        <br>
        <label for="size">Size of pizza(s):</label>
        <select name="size", id="size">
            <option value="" selected disabled></option>
            <option value="small">Small</option> 
            <option value="medium">Medium</option> 
            <option value="large">Large</option> 
            <option value="x-large">X-Large</option> 
        </select>
        <br>
        <br>
        <label for="postalCode">Postal Code:</label>
        <input type="text" id="postalCode" name="postalCode" pattern="[A-Za-z][0-9][A-Za-z][0-9][A-Za-z][0-9]" title="Enter valid Canadian postal code (no spaces)" required>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>

    {% if error %}
        <p style="color: red;">{{error}}</p>
    {% endif %}
</body>
</html>